
body{
    background-color: #8BA1BB;
    font-family: Arial;
    
    
}
p#category{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    font-size: 1.5cap;
    padding: 8px 20px;
   height: 25px;
   font-size: 16px;
   font-weight: bold;
   
    
    
}
div.category{
    text-align: center;
    /*background-color: blue;*/
    margin-bottom: -10px;

}
div.content{
    background-color: white;
    margin: 60px 25% 60px 25% ;
    padding: 0px 30px 30px 30px;
    overflow:visible;
    min-width: 500px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    
    
}
h1{
    text-align: center;
}
p.description{
    text-align: center;
    max-width: 400;
    /*background-color: chartreuse;*/
    display:inline-block;


}
div.description{
    text-align: center;
    /*background-color: blue;*/

}
div.seperator{
    height: 1px;
    width:200px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}
.center{
    text-align: center;
    width:100%
}
div.info{
    position: relative; 
    background-color: blue  ;
}
table.info{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    color: white; 
    background-color: #6c829dc0; 
    height: 80px;
}

table.info th{
vertical-align: bottom;

}
table.info td{
text-align: center;
vertical-align: top;
padding-top: 5px;
}
img.info{
    display:block;
    max-height: 450px;
    width:100%;
    object-fit: cover;
}
div.col{
    width: 49%;
    margin-top: 5px;
}
div.col1{
    /*background-color: bisque;*/
    display: inline-block;
    
}
div.col2{
    /*background-color: aqua;*/
    float:right
}
div.col h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 7px solid #6c829dc0;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
div.ingredients{
        text-align: center;
}
div.ingredients p{
    border: 2px solid lightgrey;
    padding: 7px;
    font-size: 14px;
    margin: 2px;
}
p.number{
    background-color: #6c829dc0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
    box-sizing: border-box;
    margin:0px;
}
td.instruction_step{
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}
table.instruction td{
    vertical-align: top;
    
}
table.instruction tr{
    height:40px;
    
}
div.column_content{
    overflow: auto;
}